body{
    margin: 0;
    padding: 0;
}

    .box{
        height: 100px;
        width: 100px;
        /padding: 10px;/
        /padding-left: 60px;/
        padding: 10px 0px 30px 50px;
        border:5px solid blue;

        /*border-left: 10px solid green;
        border-top: 20px dashed blue ;
        border-right: 5px dotted blueviloets;*/
        border-radius: 20px 50px; /* border-radius: Apx Bpx; where A is top-left and bottom-right and B is top-right and bottom-left */
        margin: 10px;
        box-sizing: border-box;


        /*
        width: 10px;
        border: 15px soldi black;
        padding: 5px;
        margin: 10px;

        margin-left +border-left + padding-left + width + padding-right + 
        border-right + margin-right  10 + 15 + 5px + 10px + 5px + 15px + 10px = 70px
        */

    }
     .red{
        background-color: rgb(184, 11,11);
        color: white;
    }

    .paragraph:hover{
        font-size: xx-large;
        color : red;
        background-color : black;
    }
    .paragraph:active {
        color: red;


    }
    ul li:first-child {

        color: white;
        background-color: chartreuse;
    
    }

    ul li:last-child{
        color: white;
        background-color: rgb(20, 95, 157);

    }
     ul li:nth-child(3){
           color:white;
           background-color: rgb(14, 140, 102);
     }

     .paragraph::first-letter{
        font-size: xx-large;
        color : red;
        background-color : black;
     }